# پشتگوێخستنی فایل و فۆڵدەرەکانی سیستەم
.DS_Store
Thumbs.db

# پشتگوێخستنی پاکێجەکانی Node.js
# (ئەگەر لە داهاتوودا بەکارت هێنا)
node_modules/

# پشتگوێخستنی فایلەکانی Environment
# ئەمە زۆر گرنگە بۆ پاراستنی وشەی نهێنی
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ----------------------------------------------------
# گرنگترین بەش بۆ تۆ
# پشتگوێخستنی تەواوی فۆڵدەری ئەدمین پانێڵی لۆکاڵی
# ----------------------------------------------------
/KrdStore-Admin/